Repository lab-brussels-1/loruki-group-3, pull requests merged in 2022-03, with the labels that each got.

#3 i added backlog
  planning/backlog.md
Labels: documentation, enhancement, backlog

#2 i added retrospective commit
  planning/retrospective.md
Labels: documentation, enhancement, retrospective

#6 Communication and Constraints updates
  package-lock.json
  package.json
  planning/communication.md
  planning/constraints.md
Labels: md, planning

#10 completed backlog
  planning/backlog.md
Labels: enhancement, backlog

#14 Design and user-persona
  planning/user-persona.md
Labels: user-persona, design

#15 Some problems with photo
  planning/design.md
Labels: user-persona

#16 Index
  index.html
  styles/something.css
Labels: enhancement

#18 updated the constraints
  planning/communication.md
  planning/constraints.md
Labels: md, constraints

#21 Bodyform
  .vscode/settings.json
  index.html
  package-lock.json
  styles/something.css
Labels: enhancement

#23 adding content1
  index.html
  styles/something.css
Labels: body, content, html, css

#26 adding content2
  assets/install.png
  index.html
  styles/something.css
Labels: body, content, css

#29 Created README.md file
  planning/README.md
Labels: documentation

#30 Content2
  features.html
  planning/design.md
  styles/something.css
Labels: content, css
