Repository lab-brussels-1/loruki-group-3, pull requests merged in 2022-04, with the labels that each got.

#31 Animation
  index.html
  styles/something.css
Labels: content, css

#34 content3
  assets/elearning.png
  assets/elearning1.png
  index.html
  styles/something.css
Labels: content, html, css

#33 adding content to feature
  assets/frame.png
  assets/js.png
  features.html
  styles/something.css
Labels: body, content, html, css

#36 Footer3
  index.html
  styles/something.css
Labels: footer

#37 add footer to the feature
  features.html
Labels: body, content, html

#39 adding feature design
  assets/feature.png
  planning/featuredesign.md
Labels: md, planning, design

#42 content 4
  .vscode/settings.json
  index.html
  package-lock.json
  pictures/clojure.png
  pictures/csharp.png
  pictures/node.png
  pictures/php.png
  pictures/python.png
  pictures/ruby.png
  pictures/scala.png
  styles/something.css
Labels: body, content, html, css

#41 Design3
  assets/docs1.png
  planning/docsdesign.md
Labels: md, planning, design

#43 Feature-main
  README.md
  features.html
  styles/something.css
Labels: html, css, feature

#46 linked the nave docs to docs.html
  index.html
Labels: header

#44 Docs
  assets/docs.png
  docs.html
  styles/something.css
Labels: docs

#48 modified the feature-main content and alignment
  features.html
  styles/something.css
Labels: html, css, feature

#53 made the site more responsive
  docs.html
  styles/something.css
Labels: enhancement

#55 fisnished retrospective
  planning/retrospective.md
Labels: retrospective

#56 adding info to backlog
  planning/backlog.md
Labels: documentation, backlog, md, planning
